/* 
    Document   : t
    Created on : 17-Nov-2009, 21:27:32
    Author     : Blat
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

